<% unless @parent.nil? %>
<h3> base content info </h3>
<%= render partial: "info", locals: { info: @parent } %>
<h3> edit sub content </h3>
<% end %>


<%= form_for :info do |i| %>
<%= hidden_field_tag :content_id, @info.id %>
<%= i.hidden_field :last_rev %>
<%= i.hidden_field :parent %>


<div>
title : <%= i.text_field :title , :size => 100 %><br/>
tag : <%= i.text_field :tag , :size => 100 %><br/>
category : <%= i.hidden_field :category %><br/>
type : <%= i.select :content_type, options_for_select(ContentInfo.content_type_list, @info.content_type) %><br/>
</div>

<br/>

<div id='div_form_task'>
<table>
<tr>
	<th>TERM</th>
	<td>
		<%= text_field_tag "task[s_date]" , Date.today, {class: "datepicker"} %> ~ 
		<%= text_field_tag "task[e_date]" , Date.today, {class: "datepicker"} %>
	</td>
</tr>
<tr>
	<th colspan="2">ToDo / Check Point</th>
</tr>
	<% for idx in ((@task.total_todo + 1) .. (@task.total_todo + 10)) %>
		<tr><td colspan="2"><%= idx %>. <%= text_field_tag "todo[#{idx}]", "", :size => 100 %></td></tr>
	<% end %>
</table> 
</div>

<div>
comment : <%= text_field_tag :comment, "", :size => 100 %>
<input type='button' class='button_file_upload' value='upload file'>
<input type='button' id='button_find_image' value='find image'>
<br/>
<%= text_area_tag :text, @wiki.text , :size =>"110x20" %><br/>
</div>

<%= i.submit "save" %>

<% end %>

<div id='div_select_image'>
test
</div>