<!DOCTYPE html>
<html>
<head>
  <title>Wish</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div id="div_menu_nav">
	<%= link_to "main", {controller: '/wiki', action: "index"} %> | 
	<%= link_to "my", {controller: '/wiki', action: "my"} %>
	</div>
	<div id="div_user_nav">
	  <% if user_signed_in? %>
	    <%= current_user.username %> | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	  <% else %>
	    <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "sign in", new_user_session_path %>
	  <% end %>
	</div>
</header>

<article>
	<%= yield %>
</article>

<div id='dialog_file_upload'>
<%= render :partial => "/wiki/file_upload" %>
</div>

</body>
</html>
